html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*Scroll suave e bonito*/
    scroll-behavior: smooth;
    scrollbar-color: #003775 #fff;
    scrollbar-width: thin;
}
body, p {
    margin: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

main {
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#tela {
    border: 1px solid #8a8989;
    box-shadow: 0 0 10px #4e4e4e64;
}

aside {
    width: 20%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border-radius: 10px;
    border: 1px solid #003775;
    box-shadow: .3rem .2rem .4rem #bdbebe;
    overflow: hidden; /* Mantém o overflow oculto */
}

.top-div {
    width: 100%;
    overflow-x: hidden; /* Oculta a rolagem horizontal */
    
}

.top-div span{
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

h1 {
    color: #003775;
    font-size: 2.5rem;
    text-align: center;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

table {
    width: 100%;
}

table thead{
    width: 100%;
    background-color: #003775;
}
table thead tr th {
    background-color: #003775;
    color: #fff;
    padding: .5rem;
}

table tbody tr td {
    padding: .5rem;
    text-align: center;
    
}

table tbody{
    overflow-y: auto; /* Permite rolagem vertical */
}

.btn {
    width: 40%;
    padding: .7rem;
    background-color: #003775;
    color: #fff;
    border: none;
    border-radius: .5rem;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid #003775;
}

.btn:hover {
    background-color: transparent;
    color: #003775;
}

.btn-rm {
    font-size: 2.5rem;
    width: 4.5rem;
    height: 4.5rem;
    padding: 0;
}

#btn-limpa {
    margin-top: auto; /* Move o botão para a parte inferior */
    width: 90%;
}

.btn-cor {
    width: 3rem;
    height: 3rem;
    padding: 0;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    appearance: none;   
    -webkit-appearance: none; 
    transition: 0.3s;
    border: 1px solid #003775;
}

.btn-cor[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 50%;
}
  
.btn-cor[type="color"]::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
}

.btn-info {
    background-color: #003775;
    color: #fff;
    border: 1px solid #003775;
    border-radius: .5rem;
    padding: .5rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn-info:hover {
    background-color: transparent;
    color: #003775;
}

.top-div span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Empilha o quadro e a sidebar */
        height: auto;
        gap: 1rem;
    }

    main {
        width: 90%;
        height: 70vh;
        gap: 1rem;
    }

    aside {
        width: 90%;
        gap: 1rem;
        margin-top: 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    table thead tr th,
    table tbody tr td {
        font-size: 1.2rem;
    }

    .btn {
        width: 70%;
        font-size: 1.2rem;
    }

    .btn-rm {
        font-size: 2rem;
        width: 3.5rem;
        height: 3.5rem;
    }

    #tela {
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.8rem;
    }

    .btn {
        width: 80%;
        font-size: 1.1rem;
    }

    .btn-rm {
        font-size: 1.8rem;
        width: 3rem;
        height: 3rem;
    }
}
