html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,p{
    margin: 0;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

main{
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


#tela{
    border: 1px solid #8a8989;
    box-shadow: 0 0 10px #4e4e4e64;
}

aside{
    width: 20%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border-radius: 10px;
    border: 1px solid #003775;
    box-shadow: .3rem .2rem .4rem #bdbebe;
}
h1{
    color: #003775;
    font-size: 2.5rem;
    text-align: center;
}
.form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
 
}

.top-form{
    width: 100%;
    display: flex;
    
    align-items: center;
    flex-direction: column;
    height: 90%;
}

table{
    width: 100%;
    
}

table thead tr th{
    background-color: #003775;
    color: #fff;
    padding: .5rem;
}

table tbody tr td{
    padding: .5rem;
    text-align: center;
}
.btn{
    width: 40%;
    padding: .7rem;
    background-color: #003775;
    color: #fff;
    border: none;
    border-radius: .5rem;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid #003775;
}

.btn:hover{
    background-color: transparent;
    color: #003775;
}

.btn-rm{
    font-size: 2.5rem;
    width: 4.5rem;
    height: 4.5rem;
    padding:  0;
}
#btn-limpa{
    bottom: 0;
    width: 90%;
}
.btn-cor{
    width: 3rem;
    height: 3rem;
    padding: 0;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;    
    appearance: none;   
    -webkit-appearance: none; 
    transition: 0.3s;
    border: 1px solid #003775;
}

.btn-cor[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0; /* Remove o padding interno */
    border-radius: 50%; /* Mantém redondo */
  }
  
  .btn-cor[type="color"]::-webkit-color-swatch {
    border-radius: 50%; /* Mantém a cor redonda dentro */
    border: none; /* Remove qualquer borda do swatch */
  }

  .btn-info{
    background-color: #003775;
    color: #fff;
    border: 1px solid #003775;
    border-radius: .5rem;
    padding: .5rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

    .btn-info:hover{
        background-color: transparent;
        color: #003775;
    }

  .top-div span{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }